@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Tabletennis.ViewModels.Top10PlayersViewModel>

<div class="row mt-4">
    <div class="col-12 mt-3">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col" class="custom-thead">Spelare</th>
                    <th scope="col" class="custom-thead">Totalt antal matcher</th>
                    <th scope="col" class="custom-thead">Totalt antal vinster</th>
                    <th scope="col" class="custom-thead">Vinstprocent</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var player in Model)
                    {
                        <tr>
                            <td>@player.FirstName @player.LastName</td>
                            <td>@player.MatchesPlayed st</td>
                            <td>@player.NumberOfWins st</td>
                            <td>@player.PlayerWinRatio %</td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="4">Ingen statistik tillgänglig.</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>