@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Tabletennis.ViewModels.VsPlayerStatsViewModel

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Head-to-Head Statistik</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h6>@Model.Player1.FullName</h6>
                    <p>Vinster: @Model.Player1Wins</p>
                    <p>Förluster: @Model.Player2Wins</p>
                    <p>Vinstprocent: @Model.Player1WinRatio.ToString("F1")%</p>
                </div>
                <div class="col-md-6">
                    <h6>@Model.Player2.FullName</h6>
                    <p>Vinster: @Model.Player2Wins</p>
                    <p>Förluster: @Model.Player1Wins</p>
                    <p>Vinstprocent: @Model.Player2WinRatio.ToString("F1")%</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <p class="mb-0">Totalt antal matcher: @Model.TotalMatches</p>
                </div>
            </div>
        </div>
    </div>
</div>