@page
@model Tabletennis.Pages.Player.IndexModel
@{
}


@* kanske en sida för att visa alla spelare för crud ??? *@
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            @* <h5 class="card-title">Player List</h5> *@
            <div class="card-header custom-thead">
                <h5 class="mb-0">Spelare</h5>
            </div>
            <input type="text" placeholder="Sök Spelare..." id="playerSearch" class="form-control w-25" />

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Spelar ID</th>
                            <th>Förnamn</th>
                            <th>Efternamn</th>
                            <th>Aktiv</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.Players)
                        {
                            <tr class="player-item">
                                <td>@player.PlayerId</td>
                                <td>@player.FirstName</td>
                                <td>@player.LastName</td>
                                <td class="@(player.IsActive == true ? "text-success" : "text-danger")">
                                    @(player.IsActive == true ? "Aktiv" : "Inaktiv")
                                </td>
                                
                                <td>
                                    <a class="btn btn-info" asp-page="/Player/Update" asp-route-playerId="@player.PlayerId">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
            document.getElementById('playerSearch').addEventListener('input', function () {
            const query = this.value.toLowerCase();
            document.querySelectorAll('.player-item').forEach(function(item) {
                item.style.display = item.textContent.toLowerCase().includes(query) ? '' : 'none';
            });
        });
    </script>
}