@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="row text-center mt-3">
        <div class="col-6">
            <h2 class="player-text">@Model.Player1FirstName</h2>
        </div>
        <div class ="col-6">
            <h2 class="player-text">@Model.Player2FirstName</h2>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-4 justify-content-md-center">
            <form method="post" asp-page-handler="UpdateScore" asp-route-matchId="@Model.MatchId" asp-route-teamNumber="1" asp-route-isIncrement="true">                
                <div class="button-wrapper">
                    <button type="submit" class="btn btn-dark btn-lg full-width">
                        <h2 class="player-points anta-regular">@Model.Team1Score</h2>
                    </button>

                    @if (@Model.IsPlayer1Serve)
                    {
                        <span class="serve-icon left-serve"><i class="fa-solid fa-table-tennis-paddle-ball "></i></span>
                    }

                </div>
            </form>            
        </div>
        <div class="col-4">
            <div class="row justify-content-around">
                <div class="col-5 set-bg">
                    <p class="anta-regular set-points">@Model.Team1WonSets</p>
                </div>
                <div class="col-5 set-bg">
                    <p class="anta-regular set-points">@Model.Team2WonSets</p>
                </div>
            </div>
            <div>                
                <p class="anta-regular point-info">@Model.InfoMessage</p>
            </div> 
        </div>
        <div class="col-4 justify-content-md-center">            
            <form method="post" asp-page-handler="UpdateScore" asp-route-matchId="@Model.MatchId" asp-route-teamNumber="2" asp-route-isIncrement="true">
                <div class="button-wrapper">
                    <button type="submit" class="btn btn-dark btn-lg ">
                        <h2 class="player-points anta-regular">@Model.Team2Score</h2>
                    </button>

                    @if (!@Model.IsPlayer1Serve)
                    {
                        <span class="serve-icon right-serve"><i class="fa-solid fa-table-tennis-paddle-ball "></i></span>
                    }

                </div>
            </form>            
        </div>
    </div>
    
</div>
