@page
@model Tabletennis.Pages.Matches.ActiveMatchModel
@{
    ViewData["Title"] = "Match";
}


<div class="container mt-5">
    <h2 class="text-center mb-4">@ViewData["Title"] @Model.ActiveMatchVM.MatchDate </h2>
    <h3 class="text-center mb-4">Set: @Model.SetNumber / @Model.ActiveMatchVM.MatchType</h3>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Spelare 1: @Model.ActiveMatchVM.Player1</h4>
                <h4>Poäng: <span id="team1Score">@Model.LiveScore.Team1Points</span></h4>
                <button id="player1Button">Lägg till poäng</button>
            </div>
            <div class="col-md-6">
                <h4>Spelare 2: @Model.ActiveMatchVM.Player2</h4>
                <h4>Poäng: <span id="team2Score">@Model.LiveScore.Team2Points</span></h4>
                <button id="player2Button">Lägg till poäng</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const player1Button = document.getElementById('player1Button');
            const player2Button = document.getElementById('player2Button');

            function addPoint(team) {
                fetch(`/Match/AddPoint?setId=@Model.ActiveMatchVM.SetId&team=${team}`, {
                    method: 'POST'
                })
                .then(response => response.json())
                .then(score => {
                    document.getElementById("team1Score").innerText = score.team1Points;
                    document.getElementById("team2Score").innerText = score.team2Points;
                });
            }

            player1Button.addEventListener('click', () => addPoint(1));
            player2Button.addEventListener('click', () => addPoint(2));
        });
    </script>
}